/* CSS inspired by:
	http://csc174.org/assignment02/mthurston/  
*/


/* To do: the is-current highlighter
*/


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #99BAE3;
	border: 2px solid black;
}

nav li {
	display: inline-block;
}

nav a {
	display: block;
	padding: 10px;
	color: #07407B;
	text-decoration: none;
}

nav a:visited {
	color: #07407B;
}

nav a:hover {
	background-color: #808080;
}


.is-current {
	background-color: white;
}