@import url('https://fonts.googleapis.com/css?family=Lobster');


/* CSS inspired by:
	http://csc174.org/assignment02/mthurston/  
*/


body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

body {
	color: #072747;
	background-color: #E1EEFF;
}

img {
	border: 2px solid black;
}

h2 {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	padding: 10px;
	background-color: #FFB699;
	border: 2px solid black;
	color: #DE2C20;
}

h3 {
	padding: 10px;
	background-color: #FFB699;
	border: 2px solid black;
	font-family: 'Lobster', cursive;
}




/*
Saved colors:
	#FFF973;

	University of Rochester logo:
		#FDDD00; (yellow)
		#07407B; (blue)

	Sky in Reeshad's photo: #99BAE3;

	color: #06325F; (dark blue)
	background-color: #CDE1FA; (light blue)

*/