/* CSS inspired by:
	http://csc174.org/assignment02/mthurston/  
*/


body {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
}

body {
	color: #072747;
	background-color: #E1EEFF;
}

img {
	border: 2px solid black;
}

/*
Saved colors:
	#FFF973;

	University of Rochester logo:
		#FDDD00; (yellow)
		#07407B; (blue)

	Sky in Reeshad's photo: #99BAE3;

	color: #06325F; (dark blue)
	background-color: #CDE1FA; (light blue)

*/